
.Pheadl{
  width:20%;
  height: 400px;
  margin: 0%;
}
  .Pheadc{
    width: 60%;
    float: left;
    height: 400px;
    overflow: hidden;
  }
 .Pheadr{
      float: left;
     
      width: 20%;
      height: 400px;
      margin: 0%;
     }
.InputS{
  width: 80%;
  height: 1cm;
  margin-left: 10px;
  
}
  .BodyCP{

  
        width: 100%;
        height: 80px;
        float: left;
    
        margin-top: 15px;
        margin-right: 15px;
      }
.DetailB{
  font-size: 30px;
}    
.Body12{


width: 340px;
height: 380px;
margin-left: 20px;

  overflow: hidden;
background-color: rgb(250, 248, 248);
  border: ridge 1px;

 transition: 0.5s;
}
.Body12:hover{
margin-left: 20px;

width: 340px;
height: 380px;

 
  overflow: hidden;
background-color: rgb(225, 224, 224);
border: ridge 1px;
  box-shadow: 8px 15px #00000091;
}

.Body2{
background-color: rgb(255, 255, 255);
  width: 100%;
  height: 380px;
  float: left;
  justify-content: center;
  margin-top: 15px;
  margin-right: 15px;
}
.Body3{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  float: left;
  margin-top: 50px;

}
